*.class

#package file

*.war
*.ear

#kdiff3 ignore
target/

#eclipse ignore
.settings
.project
.classpatch

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file(临时文件)

*.log
*.cache
*.diff
*.patch
*.tmp


# system  ignore
.DS_Stroe
Thumbs.db